@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background-color: #F8F8FF;
  width: 100%;
  height: auto;
}
header {
  padding: 2%;
  background-image: url("../Images/head.png");
  background-size: cover;
  width: 100%;
  height: auto;
}
.contenedor{
  /*
  display: flex;
  flex-wrap: wrap;
  */
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
}
div img {
  border-radius: 80%;
  background-color: #8dc6ff;
}
#presentation{
  width: 40%;
  padding-top: 2%;
}
#name {
  text-align: left;
  color: white;
  text-transform: uppercase;
  width: 40%;
  margin: 19px;
}
#aboutme {
  text-align: justify;
  color: white;
  width: 95%;
  box-sizing: border-box;
  margin: auto;
}
.fa-brands {
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
  color: azure;
}
main {
  padding: 16px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
}
section {
  margin: 1em;
  padding: 8px;
}
.instituto {
  padding: 2px;
}
article {
  padding:0 1em;
}
.instituto span {
  color: #073549;
  text-decoration: underline;
}
ul {
  text-align: left;
  padding:0 1em;
  list-style-type: none;
}
ul > li::before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}
a:link {
  color: coral;
  background-color: transparent;
  text-decoration: none;
}
a:hover{
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0%;
}
.column ul {
  list-style-type: none;
}
.column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}
footer {
  padding: 1em 1.5em;
  background-image: url("../Images/head.png");
  background-size: cover;
  background-position: fixed;
  color: white;
  text-align: center;
}
footer a {
  color: coral;
  background-color: transparent;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .contenedor{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    justify-items: center;
  }
  #presentation{
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  body{
    width: 100%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
  }
  main {
    background-color: white;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .contenedor{
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    justify-items: center;
  }
  #presentation{
    width: 95%;
  }
  #photo {
  }
  #name{
    text-align: justify;
    color: white;
    width: 95%;
  }
  #aboutme {
    text-align: justify;
    color: white;
    width: 95%;
    padding: 1% 1% 1% 1%;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
  }
}    

@media screen and (max-width: 500px) {
  #presentation{
    width: 100%;
    flex: 100%;
  }
  .skills {
    width: 100%;
  }
  .skills .column {
    flex: 100%;
    max-width: 100%;
    width: 90%;
    padding: 1% 1% 1% 1%;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
  }
}  
@media screen and (max-width: 400px) {
  header{
    width: 100%;
    height: auto;
  }
  .contenedor{
    display: flex;
    flex-wrap: wrap;
  }
  .photo{
    margin-left: 5%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
  }
  #presentation{
    width: 100%;
    padding: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }
} 